.notification {
  @apply border p-5 flex flex-row vayla-paragraph bg-gray-lightest border-gray;
}

.notification .start-icon {
  @apply mr-5 mt-0.5;
}

.notification .start-icon.default {
  @apply text-font-primary;
}

.notification .start-icon.info {
  @apply text-primary-dark;
}

.notification .start-icon.info_gray {
  @apply text-turquoise;
}

.notification .start-icon.info-green {
  @apply text-green-darker;
}

.notification .start-icon.warn {
  @apply text-orange-dark;
}

.notification .start-icon.error {
  @apply text-fuchsia;
}

.notification.default {
  @apply bg-gray-lightest border-gray;
}

.notification.info {
  @apply bg-primary-lightest border-primary-light;
}

.notification.info-gray {
  @apply bg-gray-lightest border-gray;
}

.notification.info-green {
  @apply bg-green-lightest border-green-darker;
}

.notification.warn {
  @apply bg-orange-light border-orange-dark;
}

.notification.error {
  @apply bg-fuchsia-light border-fuchsia;
}

.notification p {
  @apply mb-0;
}

.notification ul {
  list-style-type: disc;
}

.notification li {
  padding-left: 1rem;
}

.notification li:not(:last-child) {
  margin-bottom: 1rem;
}
