dotenv
dotenv_if_exists .env.current

# Configure nvm
nvmrc=~/.nvm/nvm.sh
if [ -e $nvmrc ]; then
  source $nvmrc && nvm use
fi

npmversion=`npm -v`
if [[ "$npmversion" != 9.6.7	]]; then
 npm -g i npm@9.6.7
fi

echo ==========
echo AWS_PROFILE: $AWS_PROFILE
echo ENVIRONMENT: $ENVIRONMENT
echo ==========
