dotenv
dotenv_if_exists .env.current

# Configure nvm
nvmrc=~/.nvm/nvm.sh
if [ -e $nvmrc ]; then
  source $nvmrc && nvm use
fi

npmversion=`npm -v`
if [[ "$npmversion" != 10.8.2	]]; then
 npm -g i npm@10.8.2
fi

echo ==========
echo AWS_PROFILE: $AWS_PROFILE
echo ENVIRONMENT: $ENVIRONMENT
echo ==========
