# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
common/node_modules
deployment/node_modules
layers/lambda-base/nodejs/node_modules

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
envrc.ys1

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/cdk.out
.cdk-outputs.json

.next
out
/.cdk-database-outputs.json
/.cdk-backend-outputs.json
/.cdk-frontend-outputs.json
/backend/api/API.ts
/src/API.ts
/common/graphql/mutations.ts
/common/graphql/queries.ts
/common/graphql/apiModel.ts
backend/src/velho/aineistopalvelu
backend/src/velho/hakupalvelu
backend/src/velho/projektirekisteri
backend/src/velho/metadata.json
public/huoltokatko

# Gradle
tools/velho/.gradle
tools/velho/build
!tools/velho/gradle/wrapper/gradle-wrapper.jar
tools/velho/buildSrc/.gradle
tools/velho/buildSrc/build

.report

next-env.d.ts
schema.graphql

build
.serverless
.serverless_nextjs
.version
/.env.test
/coverage

/test/.report

/.eslintcache
.sonar
migration-cli/node_modules
migration-cli/~*
migration-cli/migraatio.xlsx

/migration-cli/.env.test

cypress/videos
cypress/screenshots
cypress/report
cypress.env.json
cypress/downloads/downloads.html
.node-persist
/.env.current
/tsconfig.tsbuildinfo
.turbo
/cdk.context.json
.vscode/settings.json
static/graphql-playground/index.html
testpdf.pdf
backend/test/asiakirja/lambda/*.pdf
