# Generated sources
src/graphql/apiModel.ts
backend/src/api/apiModel.ts
backend/src/velho/aineistopalvelu
backend/src/velho/hakupalvelu
backend/src/velho/projektirekisteri
src/API.ts
src/graphql/queries.ts
src/graphql/mutations.ts
