# Generated sources
common/graphql/apiModel.ts
backend/src/velho/aineistopalvelu
backend/src/velho/hakupalvelu
backend/src/velho/projektirekisteri
src/API.ts
common/graphql/queries.ts
common/graphql/mutations.ts
