# Generated sources
common/graphql/apiModel.ts
common/graphql/queries.ts
common/graphql/mutations.ts
backend/src/velho/aineistopalvelu
backend/src/velho/hakupalvelu
backend/src/velho/projektirekisteri
backend/integrationtest/api/records
backend/src/suomifi/viranomaispalvelutwsinterface
!backend/src/suomifi/viranomaispalvelutwsinterface/README.md
src/API.ts
build
cdk.out
.next
.husky
.node-persist
.report
.turbo
src/services/api/fragmentTypes.json
