.breadcrumb {
  display: flex;
  float: left;
}
.breadcrumb > li {
  float: left;
  margin-right: 0.5em;
  position: relative;
}

.breadcrumb li + li::before {
  float: left;
  background-image: url("/breadcrumb-arrow.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
  display: block;
  height: 0.75em;
  left: 0;
  margin-top: -0.375em;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 0.75em;
}
.breadcrumb > li + li {
  padding-left: 1em;
}
