.side-nav {
  @apply bg-gray-lightest;
}

.side-nav-content {
  padding-top: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 1.5rem;
  padding-right: 1.5rem;
}

.side-nav-content img {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.widget-title {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1;
  color: white;
}

.search-guide-title {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1;
  color: white;
  margin-bottom: 0;
}
